
/*GLOBALES*/



.center {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@media (min-width: 940px) {
    .center {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.w-sm-100 {
    width: 100%;
}
@media (min-width: 940px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}



