@charset "UTF-8";
/*VARIABLES*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

body {
  background-color: white;
  font-size: 1.6rem;
  line-height: 1rem; }

p {
  /*párrafos*/
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff; }

a {
  /*enlaces*/
  text-decoration: none; }

img {
  /*imagenes*/
  max-width: 100%; }

.contenedor {
  max-width: 120rem;
  margin: 0 auto; }

h1, h2, h3, h4 {
  text-align: center;
  color: #E9B500;
  font-family: "Montserrat", bolder; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 3.2rem; }

h3 {
  font-size: 2.4rem; }

.center {
  display: flex;
  align-items: center;
  flex-direction: row; }

@media (min-width: 940px) {
  .center {
    flex-direction: row;
    justify-content: space-evenly; } }

.w-sm-100 {
  width: 100%; }

@media (min-width: 940px) {
  .w-sm-100 {
    width: auto; } }

.flex {
  display: flex; }

.alinear-derecha {
  justify-content: flex-end; }

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear, input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none; }

/* clears the ‘X’ from Chrome */
.background-image {
  display: flex;
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: url(../assets/backgroundimgblurred.svg);
  position: relative;
  z-index: 2; }

/*HEADER*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: none;
  background-color: #3B6C49;
  background-size: cover;
  padding: 2rem;
  width: auto; }
  header h1 {
    display: flex;
    color: #fff;
    text-align: left;
    font-size: 3rem;
    font-family: "Montserrat", bolder;
    padding: 0 1rem; }
  header nav a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    display: inline-block;
    padding: 0.3rem 0.625rem;
    transition: .5s; }
    header nav a:hover {
      background-color: #3B6C49;
      color: #E9B500; }
  header h1 img {
    flex-direction: row;
    width: 2.8rem; }
  header nav a svg {
    font-size: 1.5rem; }

.navegacion-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; }
  .navegacion-principal a:nth-child(4) {
    padding-right: 1.2rem; }

/*MAIN-SEARCH*/
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative; }

.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #3B6C49; }
  .input-search::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100; }

.btn-search {
  width: 60px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: #3B6C49;
  pointer-events: painted; }
  .btn-search:focus ~ .input-search {
    width: 300px;
    border-radius: 0px;
    background-color: #3B6C49;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2); }

.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: #3B6C49;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2); }

.svg-container svg {
  transition: .5s; }
  .svg-container svg:hover {
    background-color: #3B6C49;
    color: #E9B500; }

/*MAIN-SECTION 1*/
.section-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: none;
  padding: 2rem; }
  .section-principal h3 {
    color: #fff;
    font-family: "Montserrat", bolder;
    line-height: 2rem;
    width: 100%;
    font-size: 2rem;
    justify-content: center;
    padding: 0; }

.boton-showme {
  background: #E9B500;
  align-content: center;
  border-radius: 999px;
  box-shadow: #E9B500 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: "Montserrat", bolder;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2.8rem;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  touch-action: manipulation;
  border: 0;
  transition: .5s; }
  .boton-showme:hover {
    background-color: #fff;
    color: #E9B500; }

/*MAIN-SECTION 2*/
.background-section {
  height: 100vh;
  background: no-repeat center center fixed;
  background-size: cover;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 82%, #062112 100%, #062112 100%); }

.section-dos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: none;
  padding: 0 1.3rem; }

.guia-mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem; }
  .guia-mapa a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    list-style-type: none;
    padding: 0.3rem 0.625rem;
    transition: .5s; }
    .guia-mapa a:hover {
      color: #E9B500; }

.gm-style div {
  border-style: none; }

.mapa-busqueda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  position: relative;
  bottom: 1rem;
  margin: auto; }
  .mapa-busqueda img {
    display: flex;
    width: 2.5rem;
    position: relative;
    top: 20px; }

.searchbar {
  background-color: #3B6C49;
  color: #fff;
  padding: 1rem 0;
  font-size: 2rem;
  text-decoration: none;
  border: none;
  border-radius: 2rem;
  width: 90%;
  text-align: center;
  border: none;
  touch-action: manipulation;
  transition: .5s;
  border-color: #fff; }
  .searchbar:hover, .buttonmap-integ:hover {
    background-color: #E9B500;
    color: #fff; }

.mapa-integrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: none;
  position: relative;
  bottom: 1rem;
  width: 70%;
  margin: auto; }

.buttonmap-integ {
  display: flex;
  width: 50%;
  background-color: #3B6C49;
  font-size: medium;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.3s; }

/*MAIN-INDEX-CARRUSEL*/
.carrusel-fotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;
  margin: 2rem; }

.fotos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  touch-action: manipulation;
  cursor: pointer;
  transition: transform .5s; }
  .fotos:hover {
    color: #E9B500;
    transform: scale(1.05); }

.scale-up-center {
  -webkit-animation: scale-up-center 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  animation: scale-up-center 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) both; }

/*
animation scale-up-center
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.animate__animated.animate__pulse {
  animation-iteration-count: infinite;
  animation-play-state: paused; }
  .animate__animated.animate__pulse:hover {
    animation-play-state: running; }

/*FOOTER*/
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  padding: .5rem 1rem;
  background-color: #3B6C49; }

.copy {
  text-align: center; }
  .copy p {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 0.3rem;
    font-size: .8rem;
    padding: 0.2rem;
    margin: auto; }

.iconft {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem; }

.button-phone {
  display: flex;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  gap: none;
  width: auto;
  border: none;
  background: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none; }
  .button-phone:hover span {
    display: none;
    width: .2rem; }
  .button-phone:hover::before {
    content: "+598298477";
    color: #fff; }

/*CONTACTO PAGINA*/
.formulario {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
  padding: 2rem;
  line-height: 2rem;
  width: auto;
  margin: 0 2rem; }
  .formulario fieldset {
    border: none;
    margin: auto; }
  .formulario legend {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-top: auto;
    color: #E9B500;
    font-family: "Montserrat", bolder; }

.campo:nth-child(3), .campo:nth-child(4) {
  grid-column: 1 / 3; }

textarea {
  resize: none; }

.contenedor-campos {
  display: flex;
  flex-direction: column;
  line-height: 1rem; }

.campo {
  margin-bottom: 1rem; }
  .campo label {
    color: #fff;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
    font-family: "Montserrat", bolder; }
  .campo textarea {
    height: auto; }

.input-text {
  width: 100%;
  border: none;
  padding: .3rem;
  border-radius: .5rem;
  white-space: normal; }

.boton {
  background-color: #E9B500;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Montserrat", bolder;
  border-radius: .5rem;
  width: 90%;
  text-align: center;
  border: none;
  touch-action: manipulation;
  transition: .5s;
  margin: auto; }
  .boton:hover {
    cursor: pointer;
    background-color: #fff;
    color: #E9B500; }

/*LOGIN PAGINA*/
.formlog {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
  gap: none;
  margin: auto; }

.input-login[type=text], .input-login[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  align-items: center; }

.input-login label {
  color: #fff; }

.button-login {
  background-color: #3B6C49;
  color: #fff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; }
  .button-login:hover {
    opacity: 0.8; }

.containerlog {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: auto;
  padding: 4rem 2rem; }
  .containerlog label {
    color: #fff; }

/*MAPA PAGINA*/
.container-map {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: auto;
  padding: 4rem 2rem; }
  .container-map h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: #E9B500;
    margin-bottom: 4rem; }

.map-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; }
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px; }

.buttonmap {
  display: inline-block;
  background-color: #3B6C49;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin: 2rem;
  transition: background-color 0.3s; }
  .buttonmap:hover {
    background-color: #E9B500;
    color: #fff; }

.gm-style {
  border-style: none; }

/*RESTAURANTES PAGINA*/
header a {
  text-decoration: none; }

.carrusel-pag {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 2rem; }

.c-item {
  height: 480px; }

.c-img {
  height: 100%; }

.c-caption {
  display: flex;
  flex-direction: column;
  font-size: .3rem;
  text-align: center;
  align-items: center; }
  .c-caption h5 {
    color: #E9B500;
    font-family: "Montserrat", bolder;
    font-weight: bold; }
  .c-caption p {
    color: #fff;
    font-family: "Montserrat", bolder;
    text-shadow: 1px 1px #fff; }
  .c-caption h5, .c-caption p {
    position: relative;
    font-size: 1rem;
    line-break: auto;
    text-align: center;
    bottom: 6rem; }

.fl-c {
  filter: blur(0.1rem);
  box-shadow: inset 0px 0px;
  transition: .5s;
  max-width: 100%; }
  .fl-c:hover {
    filter: blur(0rem);
    transform: scale(1.05);
    width: auto; }

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .center-img h5 {
    color: #fff;
    font-style: "Montserrat", bolder;
    text-align: center; }

/*MediaQuerry*/
/*HEADER*/
@media (min-width: 940px) {
  header {
    flex-direction: row; } }

@media (min-width: 940px) {
  header nav a svg {
    padding-left: 1rem;
    flex-direction: row;
    justify-content: space-between; } }

@media (min-width: 940px) {
  .navegacion-principal {
    flex-direction: row;
    justify-content: space-evenly; } }

/*MAIN-INDEX*/
@media (min-width: 940px) {
  .boton-showme {
    display: flex;
    width: auto; } }

@media (min-width: 940px) {
  .carrusel-fotos {
    display: flex;
    gap: 2rem; } }

@media (min-width: 940px) {
  section-dos {
    flex-direction: row; } }

@media (min-width: 940px) {
  .guia-mapa {
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem; } }

@media (min-width: 940px) {
  .guia-mapa a {
    color: #fff; } }

@media (min-width: 940px) {
  .mapa-busqueda {
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3rem;
    padding: 0; } }

@media (min-width: 940px) {
  .searchbar {
    width: auto; } }

@media (min-width: 940px) {
  .mapa-integrado {
    width: 40%;
    display: flex;
    position: relative; } }

@media (min-width: 940px) {
  .buttonmap-integ {
    display: inline-block;
    background-color: #3B6C49;
    width: auto;
    font-size: 1.5rem;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s; } }

/*BACKGROUND-IMAGE*/
@media (min-width: 940px) {
  .background-image {
    display: flex; } }

/*MAIN-MAPA*/
@media (min-width: 940px) {
  .container-map {
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem; } }

@media (min-width: 940px) {
  .container-map h1 {
    font-size: 4rem;
    line-height: 4rem; } }

/*MAIN-RESTAURANTES*/
@media (min-width: 940px) {
  .carrusel-pag {
    display: flex;
    flex-direction: row;
    gap: 2rem; } }

@media (min-width: 768px) {
  .c-caption h5, .c-caption p {
    font-size: 1.2rem;
    text-align: center;
    align-items: center; } }

/*MAIN-CONTACTO*/
@media (min-width: 940px) {
  .formulario {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding: 2rem;
    justify-content: center;
    align-items: center; } }

@media (min-width: 940px) {
  .campo textarea {
    height: 10rem; } }

/*FOOTER*/
@media (min-width: 940px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto; } }
