.background-image {
    display: flex;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url(../assets/backgroundimgblurred.svg);
    position: relative;
    z-index: 2;
}